*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background: linear-gradient(to right bottom,lightseagreen,orangered);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-wrapper{
  background-color: #12343b;
  min-width: 450px;
  min-height: 580px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 9px 70px #000;
  margin-bottom: 10px;
}
.header h1{
  color: #fff;
  margin: 30px 0;
  text-align: center;
  letter-spacing: 4px;
  font-weight:900;
  font-size: 40px;
}
.task-input{
  outline: none;
  width: 390px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  border-radius: 10px;
  color: #ccc;
  background-color: #000000;
  border: 3px solid #c89666;
}
.button-add{
  width: 90px;
  padding: 15px 15px;
  margin-left: 30px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #f1af71;
  cursor: pointer;
}
.list-item{
  display: flex;
  margin: 10px 0;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  max-height: 50px;
}

.button-delete,
.button-edit{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
}

.button-edit{
  color: #e2d029;
  margin-left: 115px;
}
.button-delete{
  color: lightseagreen;
  margin-left:52px;

}
.complete{
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #ff6c6c;
  opacity: 0.6;
}
.list{
  width: 220px;
  background-color: #12343b;
  border: none;
  color: #ccc;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 15px;
}
input:focus,
button:focus{
  outline: none;
}
@media only screen and (max-width: 768px) {
  
  .app-wrapper{
    background-color: #12343b;
    min-width: 250px;
    min-height: 380px;
    padding: 15px;
    margin-bottom: 5px;
  }
  .header h1{
    margin: 15px 0;
    letter-spacing: 2px;
    font-weight:900;
    font-size: 30px;
  }
  .task-input{
    outline: none;
    width: 220px;
    max-height: 50px;
    padding: 8px;
    margin-right: 12px;
    font-size: 13px;
  }
  .button-add{
    width: 60px;
    padding: 10px 10px;
    margin-left: 15px;
    font-size: 10px;
  }
  .list-item{
    display: flex;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    max-height: 50px;
  }
  
  .button-delete,
  .button-edit{    
    font-size: 25px;
    border-radius: 50%;
  }
  
  .button-edit{
    color: #e2d029;
    margin-left: 65px;
  }
  .button-delete{
    color: lightseagreen;
    margin-left:26px;
  
  }
  .complete{
    text-decoration-style: solid;
    text-decoration-line: line-through;
    text-decoration-color: #ff6c6c;
    opacity: 0.6;
  }
  .list{
    width: 120px;
    background-color: #12343b;
    border: none;
    color: #ccc;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 15px;
  }
  input:focus,
  button:focus{
    outline: none;
  }

}